# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore large temporary raw datasets
data/raw/*.csv

# Keep processed outputs
!week2_analysis/**/*.csv
!week3_dashboard/**/*.csv
!week4_advanced_analytics/**/*.csv